## Instracart Market - EDA (b)

In [1]:
import os
import numpy as np
import pandas as pd
import matplotlib as plt
import seaborn as sns
%matplotlib inline

### Data overview

In [2]:
os.chdir('C:/Users/Bangda/Desktop/kaggle/instacart-market')
aisles = pd.read_csv('aisles.csv')
departments = pd.read_csv('departments.csv')
products = pd.read_csv('products.csv')
orders = pd.read_csv('orders.csv')
order_products_prior = pd.read_csv('order_products__prior.csv')
order_products_train = pd.read_csv('order_products__train.csv')

In [3]:
test = orders.loc[orders.eval_set == 'test']
train = orders.loc[orders.eval_set == 'train']
prior = orders.loc[orders.eval_set == 'prior']
test.shape, train.shape, prior.shape

((75000, 7), (131209, 7), (3214874, 7))

### Check the number of items in each order_id for each user_id, etc

In [4]:
# number of different product purchased for each user
order_products_prior = pd.merge(order_products_prior, prior[['order_id', 'user_id']], 
                                on = 'order_id', how = 'left')
order_products_train = pd.merge(order_products_train, train[['order_id', 'user_id']],
                                on = 'order_id', how = 'left')

In [5]:
# user_id | .. order_id .. | .. order_id count ..
order_products_prior.groupby(['user_id', 'order_id'])[['order_id']].count()

                  order_id
user_id order_id
1       431534           8
        473747           5
        550135           5
        2254736          5
        2295261          6
        2398795          6
        2539329          5
        2550362          9
        3108588          6
        3367565          4
2       738281          13
        788338          16
        839880          16
        1199898         21
        1402090         15
        1447487          9
        1501582          6
        1673511         13
        1718559         26
        1901567          5
        2168274         13
        3186735         19
        3194192         14
        3268552          9
3       444309           9
        521107           5
        676467           6
        1374495         10
        1402502          6
        1839752          9
...                    ...
206208  2675140          9
        2789700         16
        2804556         16
        2808240          8
        2922221          8
        2936891         11
        2995770         21
        3027766         11
        3038194         18
        3049681         18
        3059777          7
        3097121         17
        3128968         17
        3292671         18
        3356245         28
        3392839         12
        3412250         12
206209  550836          10
        626363          20
        688306          16
        1542354         15
        1854736          8
        1889163          9
        2129269         12
        2266710          9
        2307371          3
        2558525          3
        2977660          9
        3154581         13
        3186442          2

[3214874 rows x 1 columns]

In [6]:
# number of items purchased of each user_id (not distinct)
# user_id | .. product count ..
order_products_prior.groupby(['user_id'])[['product_id']].count()

         product_id
user_id
1                59
2               195
3                88
4                18
5                37
6                14
7               206
8                49
9                76
10              143
11               94
12               74
13               81
14              210
15               72
16               70
17              294
18               39
19              204
20               22
21              205
22               69
23               40
24               38
25               21
26               56
27              768
28              183
29              225
30               11
...             ...
206180          171
206181          127
206182          120
206183          199
206184           36
206185           90
206186           32
206187          261
206188           63
206189           40
206190           54
206191           82
206192          103
206193          343
206194          127
206195           67
206196           90
206197          181
206198           41
206199          327
206200          279
206201          404
206202          198
206203          119
206204           54
206205           32
206206          285
206207          223
206208          677
206209          129

[206209 rows x 1 columns]

In [7]:
# number of each items purchased by each user_id
# user_id | .. product_id .. | .. product count ..
prior_user_product_count = order_products_prior.groupby(['user_id'])['product_id'].value_counts()

In [8]:
prior_user_product_count_df = pd.DataFrame(prior_user_product_count)
prior_user_product_count_df.head()

                    product_id
user_id product_id
1       196                 10
        12427               10
        10258                9
        25133                8
        13032                3